<header>
  <div class="header-logo">
    <a href="/">MiniTweet</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">MiniTweetについて</a></li>
  </ul>
</header>

<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">絶対にフリーエンジニアになる!</div>
    <div class="posts-index-item">Rails実践中！</div>
  </div>
</div>