<header>
  <div class="header-logo">
    <a href="/">MiniTweet</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">MiniTweetについて</a></li>
  </ul>
</header>

<% posts = [
  "今日はRailsの学習です。",
  "プログラミング、意外と簡単。",
  "この調子で続けていこう。",
] %>

<div class="main posts-index">
  <div class="container">
    <% posts.each do|post| %>
    <div class="posts-index-item">
      <%= post %>
    </div>
    <% end %>
  </div>
</div>